%h4 My Blog
%hr
.row
  .col-md-12
    .col-md-2
      = render 'mpp_blog/posts/shared/admin_sidebar'
    .col-md-10
      %div
        .table-responsive
          %table.table.table-striped.all-post-admin
            %thead
            %tbody#sortable
              - @blog_posts.each do |blog_post|
                %tr{id: "blog_post_ids_#{blog_post.id}"}
                  %td{width:"1%"}
                    = check_box_tag :id
                  %td{width:"69%"}
                    = link_to blog_post.title, edit_post_path(blog_post), :class=>"post-title-admin"
                    = arrange_tags_admin(blog_post.category_list, params[:action])
                    .crud-operations
                      = link_to "Edit", edit_post_path(blog_post)
                      |
                      = link_to "View", blog_post
                      |
                      = link_to "Delete", blog_post, :method => :delete, :data => { :confirm => 'Are you sure?' }
                      - if blog_post.popular
                        |
                        = link_to "Remove from popular", update_popular_post_path(blog_post, popular: false), :method => :put
                      - elsif MppBlog::Post.popular_limit
                        |
                        = link_to "Mark as popular post", update_popular_post_path(blog_post, popular: true), :method => :put

                  %td{width:"20%"}
                    .status-draft
                      = blog_post.post_status
                  %td{width:"10%"}
                    = blog_post.created_at.to_s(:date_short)